psycopg2-binary==2.8.6
django==3.2.3
django_better_admin_arrayfield==1.4.2
requests==2.25.1
pymorphy2==0.9.1
pymorphy2-dicts==2.4.393442.3710985
DAWG-Python==0.7.2
python-Levenshtein==0.12.2
pydantic==1.8.2
gunicorn==20.1.0
python-json-logger==2.0.1
python-dotenv==0.17.1
marshmallow==3.12.1